* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
  background-color: #ffffff4b;
}

a {
  text-decoration: none;
}

.product {
  display: block;
  width: 400px;
  text-align: center;
  background-color: #9FCBAD;
  border-radius: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.home button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(8, 184, 87);
  color: white;
  cursor: pointer;
}

button:active {
  scale: 0.95;
}

.product img {
  height: 200px;
  object-fit: cover;

}

.product h2 {
  font-size: 20px;
}